In [1]:
import pandas as pd

In [2]:
myDataSet = {
    "Cars" : ["Ferarri", "Toyota", "Lamborghini"],
    "TopSpeed" : ["350 mph","250mph","300mph"],
    "Price" : ["10 koti", "30 Lakh", "7 koti"]
}

In [3]:
df = pd.DataFrame(myDataSet, index = ["Royal Car", "Family Car", "Sports Car"])
df

                   Cars TopSpeed    Price
Royal Car       Ferarri  350 mph  10 koti
Family Car       Toyota   250mph  30 Lakh
Sports Car  Lamborghini   300mph   7 koti

In [4]:
df.loc["Royal Car"]

Cars        Ferarri
TopSpeed    350 mph
Price       10 koti
Name: Royal Car, dtype: object